# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/
__pycache__/
*.pyc
venv/
.venv/

# Build & Outputs
dist/
build/
coverage/
*.log

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sw?
